// 颜色定义规范
$color-background = #F3F3F3
$color-background-l = #fff
$color-background-d = rgba(0, 0, 0, 0.3)
$color-highlight-background = #333
$color-dialog-background = #666
$color-theme = #2986FE
$color-gradient = linear-gradient(270deg,rgba(41,134,254,1) 0%,rgba(79,176,252,1) 100%);
$color-theme-d = rgba(255, 205, 49, 0.5)
$color-sub-theme = #4FB0FC
$color-text = #fff
$color-text-d = #333333
$color-text-l = #666666
$color-text-ll = #999999
$color-text-lll = #BEBBC1
$color-text-w=#2986FE
$color-text-t = #282828

//字体定义规范
$font-size-small-s = 0.2rem
$font-size-small = 0.24rem
$font-size-small-m = 0.26rem
$font-size-medium = 0.28rem
$font-size-medium-x = 0.32rem
$font-size-large = 0.36rem
$font-size-large-x = 0.44rem
